.profileContainer {
  display: grid;
  grid-template-areas:
    "heroImg"
    "heroDesc";
  gap: 1rem;
}

.heroImg {
  grid-area: heroImg;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.heroImg > button {
  align-self: stretch;
}
.heroImg img {
  max-width: 100%;
  cursor: pointer;
  margin-bottom: 0.3rem;
}

.heroImg img:hover {
  box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.425);
}

.heroDesc {
  grid-area: heroDesc;
  margin: 0 auto;
}
.h1 {
  margin-top: 0;
  margin-bottom: 0.2rem;
  text-align: center;
}

.rating {
  font-size: 0.8rem;
}

@media screen and (min-width: 700px) {
  .profileContainer {
    grid-template-areas: "heroImg heroDesc";
    /* grid-template-columns: 1fr 1fr; */
    margin: 2rem;
  }
  .heroDesc {
    margin: unset;
  }
  .h1 {
    text-align: unset;
  }
}
