.starsContainer {
  color: rgb(255, 217, 0);
  font-size: 0.8rem;
}

.ratingStar {
  font-size: 1.4rem;
  cursor: pointer;
  /* apply a shadow that starts at 3px horizontally, 5px down, with 2px of blur, and is 50% black: */
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.5));
}
.ratingStar:hover {
  transform: scale(1.08);
}
