.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.412);
}

.modal {
  background: url("../../assets/texture-comic-book-style.jpg") no-repeat center
    center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: fixed;
  border-radius: 0.3rem;
  top: 20vh;
  left: 5vw;
  width: 90vw;
  z-index: 100;
  overflow: hidden;
  /* background-color: blanchedalmond; */
  box-shadow: 0 0 3px 1px blanchedalmond;
  max-height: 75vh;
  overflow-y: auto;
}

.imgModal {
  background: transparent;
  box-shadow: none;
}

.small {
  top: 20vh;
}

@media (max-width: 600px) {
  .modal {
    top: 15vh;
    font-size: small;
  }
  .imgModal {
    top: 15vh;
  }
}

@media (min-width: 600px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
  .small {
    left: calc(50% - 14rem);
    width: 28rem;
  }
  .imgModal {
    top: 10vh;
    left: calc(50% - 15rem);
    width: 30rem;
  }
}
.header {
  background: black;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.small .header {
  padding: 0.4rem;
}

.header h3 {
  margin: 0;
  display: inline-block;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.header button {
  background-color: transparent;
  color: inherit;
  align-self: flex-start;
}
.header button:hover {
  filter: drop-shadow(0 0 3px blanchedalmond);
}

.content {
  padding: 1rem;
  text-shadow: 0 0 10px white;
}

.fullImage {
  padding: 0;
}
.fullImage img {
  margin: 0;
  padding: 0;
}

.small .content {
  text-align: center;
  font-size: 1.2rem;
}

.closeBtn {
  display: block;
  cursor: pointer;
  color: orange;
  font-size: 1.3rem;
  padding: 0.1rem 0.4rem;
  border-radius: 0.2rem;
  /* border: 1px solid orange; */
  align-self: flex-start;
  box-shadow: 0 0 1px 2px rgba(255, 166, 0, 0.445);
}
.closeBtn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 2px 3px rgba(255, 166, 0, 0.863);
}
